<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="theme-color" content="#52a3ff" />
  <meta name="HandheldFriendly" content="True" />
  <meta name="MobileOptimized" content="320" />
  <meta name="apple-mobile-web-app-capable" content="yes" />
  <meta
    name="apple-mobile-web-app-status-bar-style"
    content="black-translucent"
  />
  <!--site information-->
  <title>
    {%- if page.title -%} {{ page.title }} {% elif section.title %} {{
    section.title }} {%- else -%} {{ config.title }} {%- endif -%}
  </title>
  <meta name="description" content="{{ config.description }}" />

  <!-- Twitter content -->
  <meta name="twitter:card" content="summary_large_image" />

  {%- if page.extra.image.path -%} {%- set image =
  colocated_asset::colocated_asset(path=page.extra.image.path) | trim -%} {%
  elif section.extra.image.path %} {%- set image =
  colocated_asset::colocated_asset(path=section.extra.image.path) | trim -%} {%-
  else -%} {%- set image = '../static/' ~ config.extra.cover.path -%} {%- endif
  -%} {% set image_200 = resize_image(path=image, width=200, height=250,
  op='fit_width') %}

  <meta name="twitter:image" content="{{ image_200.url }}" />
  <meta property="og:image" content="{{ image_200.url }}" />
  <meta name="twitter:site" content="@{{ config.extra.twitter }}" />
  <meta name="twitter:creator" content="@{{ config.extra.twitter }}" />

  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title | striptags }}" />
  <meta property="og:title" content="{{ page.title | striptags }}" />
  {% elif section.title %}
  <meta name="twitter:title" content="{{ section.title | striptags }}" />
  <meta property="og:title" content="{{ section.title | striptags }}" />
  {% else %}
  <meta name="twitter:title" content="{{ config.title | striptags }}" />
  <meta property="og:title" content="{{ config.title | striptags }}" />
  {% endif %} {% if page.permalink %}
  <meta property="og:url" content="{{ page.permalink | striptags }}" />
  {% elif section.title %}
  <meta property="og:url" content="{{ section.permalink | striptags }}" />
  {% else %}
  <meta property="og:url" content="{{ config.base_url | striptags }}" />
  {% endif %} {% if page.summary %}
  <meta name="twitter:description" content="{{ page.summary | striptags }}" />
  <meta property="og:description" content="{{ page.summary | striptags }}" />
  {% elif section.summary %}
  <meta
    name="twitter:description"
    content="{{ section.summary | striptags }}"
  />
  <meta property="og:description" content="{{ section.summary | striptags }}" />
  {% else %}
  <meta
    name="twitter:description"
    content="{{ config.description | striptags }}"
  />
  <meta
    property="og:description"
    content="{{ config.description | striptags }}"
  />
  {% endif %}

  <!-- homepage and the rss feed. -->
  <link rel="canonical" href="{{ config.base_url }}" />
  <link
    rel="alternate"
    type="application/rss+xml"
    href="{{ config.base_url }}/rss.xml"
  />

  <!-- general -->
  <meta name="author" content="{{ config.extra.author}}" />
  <meta name="owner" content="Nrishinghananda Roy" />
  <meta
    name="subject"
    content="rust, rust language, software engineering, software engineer, aws"
  />
  <meta
    name="category"
    content="rust, computer and technology, software engineering"
  />
  <meta name="topic" content="portfolio,rust,software development,devops" />
  <meta name="subtitle" content="royrustdev" />
  <meta name="url" content="{{ config.base_url }}" />
  <meta name="identifier-URL" content="{{ config.base_url }}" />
  <meta
    name="keywords"
    content="Software Engineer,royrustdev,Nrishinghananda,DevOps Engineer,devops engineer"
  />

  <!-- favicon -->
  <link rel="icon" type="image/ico" href="/favicon.ico" />
  <link rel="icon" type="image/ico" href="https://royrustdev.com/favicon.ico" />
  <!-- google fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Delius&family=Lato:wght@700;900&display=swap"
    rel="stylesheet"
  />
  <!-- css styles -->
  <link rel="stylesheet" href="main.css" />
  <link rel="stylesheet" href="https://royrustdev.com/main.css" />
</head>

<!--
  <meta
    name="twitter:image:src"
    content="https://royrustdev.com/royrustdev.png"
  />
  <meta name="twitter:image" content="https://royrustdev.com/royrustdev.png" />
  <meta property="og:image" content="https://royrustdev.com/royrustdev.png" />
  <meta name="og:image" content="https://royrustdev.com/royrustdev.png" />
  -->
