<nav class="nav">
  <div class="nav--logo">
    <strong>royrustdev</strong>
  </div>
  <div class="nav--about"><a href="{{ config.base_url }}/about">about</a></div>
  <div class="nav--blog"><a href="{{ config.base_url }}/blog">blog</a></div>
  <div class="nav--blog">
    <a href="{{ config.base_url }}/projects">projects</a>
  </div>
  <div class="nav--hireme">
    <a
      href="https://www.linkedin.com/in/nrishinghananda-roy-b5ab90230/"
      target="_blank"
      rel="noopener noreferrer"
      >HIRE</a
    >
  </div>
</nav>
