{% extends "base.html" %} {% block root %}

<section class="hero">
  <img
    src="/img/profile.png"
    alt="A black and white image
  of Nrishinghananda Roy"
    class="hero--img"
  />
  <h2 class="hero--name">NRISHINGHANANDA ROY</h2>
  <h1 class="hero--title">Rust Software Engineer</h1>
</section>
<section class="description">
  <h3 class="description--title">
    I build secure, fast & scalable software using Rust.
  </h3>
  <p class="description--text">
    <b>I'm a</b> Rust Software Enginner specializing in
    <strong>backend</strong> and <strong>dev-tools</strong>. <br />
    <b>I'm</b> currently working on containerized microservices, managed by
    Docker and Kubernetes.
    <br />
    <b>I love Rust</b> for it's speed and security guarantees. <br />
    <b>I like to</b> write efficient, secure, clean and documented software, by
    using test driven development (TDD) with a continuous integration
    environment. <br />
    <b>In my free time</b> I contribute to
    <strong>Rust Open Source Projects</strong>.
  </p>
</section>
<section class="about">
  <article class="about--article">
    <p class="about--article--post">
      <b>I began</b> coding in February 2020 during the outbreak of covid-19
      pandemic at the age of 20. <b>I started</b> as a frontend developer and
      learned vue.js, then studied backend with Node.js, Express.js and MongoDB.
      I liked working on the frontend, but I realized that backend was my true
      passion. Nodejs was not satisfactory to me, so
      <i>I started learning Rust</i>.
    </p>
    <p class="about--article--post">
      <b>Rust</b> revealed the true power and responsibility of a programmer to
      me. I study mathematics, algorithms, and cryptography in my leisure time.
      I love abstract algebra, discrete mathematics, number theory,
      cryptography.
    </p>

    <p class="about--article--post">
      <strong>I dream to pursue a career</strong> in Software Engineering, but I
      have been unable to access a formal university education due to lack of
      financial resources.
    </p>
    <p class="about--article--post">
      So <b>I am using free & open-source resources</b> like
      <b>MIT Open-courseware, Coursera</b> and other university lectures to
      teach myself what I want to learn. I have the tenacity and smart-working
      mentality to pick up new technologies quickly and solve problems.
    </p>
    <p class="about--article--post">
      <b>I love to share my experiences</b> and knowledge with others. I enjoy
      to inspire, motivating other people.
    </p>
  </article>
  <article class="about--article">
    I used to do mathematics and physics a lot. Although I no longer do
    mathematics daily, it is the basis I use to think about programming.
  </article>
</section>
<section class="skills">
  <h2>MY SKILLS</h2>
  <div class="skills--container">
    <div class="skills--box">
      <img src="/icons/skills/rust.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Rust</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/wasm.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Web Assembly</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/ts.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Typescript</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/bash.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Shell</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/docker.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Docker</p>
    </div>
    <div class="skills--box">
      <img
        src="/icons/skills/kubernetes.svg"
        alt="icon"
        class="skills--box--img"
      />
      <p class="skills--box--name">Kubernetes</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/aws.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">AWS</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/cicd.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">CI/CD</p>
    </div>
    <div class="skills--box">
      <img
        src="/icons/skills/postgresql.svg"
        alt="icon"
        class="skills--box--img"
      />
      <p class="skills--box--name">PostgreSQL</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/redis.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Redis</p>
    </div>
    <div class="skills--box">
      <img
        src="/icons/skills/mongodb.svg"
        alt="icon"
        class="skills--box--img"
      />
      <p class="skills--box--name">MongoDB</p>
    </div>
    <div class="skills--box">
      <img
        src="/icons/skills/manjaro.svg"
        alt="icon"
        class="skills--box--img"
      />
      <p class="skills--box--name">Manjaro Linux</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/nodejs.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Node.js</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/js.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Javascript</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/scss.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">SCSS</p>
    </div>
    <div class="skills--box">
      <img src="/icons/skills/vuejs.svg" alt="icon" class="skills--box--img" />
      <p class="skills--box--name">Vue.js</p>
    </div>
  </div>
</section>
<section class="projects"></section>

{% endblock root %}
